body {
    font-family: Arial;
}

header {
    background-color: white;
    padding: 5px;
    text-align: center;
}
.logo
{
width: 600px;
height: 300px;
border-radius: 7%;
text-align: center;
}

nav{
   margin: 10px 0px;
   text-align: center;
}

nav a {
   background-color: rgb(165, 57, 123);
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 16px;
padding:  10px 25px;
border-radius: 7px;
}

.main_img{
    width: 100%;
    height: 40%;
    border-radius: 30%;
}

h1 {
    font-size: 36px;
    color: rgb(137, 0, 96);
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
}
footer {
    background-color: white;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
 }
.discord img
 {
background-color: rgb(88, 101, 242);
color: white;
text-decoration: none;
font-size: 16px;
padding:  10px 25px;
border-radius: 10px;
width: 30px;
height: 30px;
}

.game
 {
background-color: red;
color: white;
text-decoration: none;
font-size: 16px;
padding:  10px 25px;
border-radius: 10px;
}

.youtube img
 {
background-color: red;
color: white;
text-decoration: none;
font-size: 16px;
padding:  10px 25px;
border-radius: 10px;
width: 30px;
height: 30px;
}

.main
{
    padding: 30px;
}
